html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #F9FAF8;
}

/*#main-container{
  max-width: 960px;
  margin: 0 auto;
  
}*/

.menu { /*nav element class*/
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 5px 180px 5px 180px;

}

.logo {

  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;

}


.navbar { /*ul element class*/
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;

}


.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: #E5E7EB;
  padding: 7px 20px;
  font-size: 18px;
}

.nav-links a:hover{
  background-color: #3882F6;
  color:#FFF;
  border-radius: 10px;
} 

.main-content{
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 40px 180px 40px 180px;
}

.hero {
  font-size: 48px;
  font-weight: 700;

}

.hero.subtext{
  font-size: 18px;
  color:#E5E7EB;
}

.content-img{
  width: auto;
  height: 350px;
}

.btnSub{
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 15px 40px;
}

.btnSub:hover{ 
  background-color: #FFF; 
  color: #3882F6;
}


.projects{
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 40px 180px 100px 180px;

}

.info-header {
  font-size: 36px;
  font-weight: 700;
  color: #1F2937;
  text-align: center;
  
}

.project-container {

  width: 185px;
  color: #1F2937;
  border: 3px solid #1F2937;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
}

.project-container p { padding: 0; margin: 0;}

.project-titles {
  display: flex;
  justify-content: space-around;
}

.proj-img{
  width: 85px;
  height: auto;
  padding: 5px 0px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  color: #1F2937;
  height: 420px;
}

.wrapper{
  width: 50%;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

.quote-sig {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.sub{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  color:#FFF;
  font-size: 18px;

}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 30px 20px;
}

.thicc{
  font-weight: 700;
  font-size: 24px;
}

.btnSignup {

  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  background-color: #3882F6;
  border-radius: 10px;  
  border: 2px solid #FFF;
  padding: 10px 24px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  font-size: 16px;
  color: #E5E7EB;
  text-align: center;
  height: 60px;
}